*{
    margin: 0;
    padding: 0;
    font-family: serif;
}

body{
    background-color: white;
    color: red;
}

.container{
    padding: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin-left: 70px;
    text-transform: capitalize;
    list-style: none;
}

nav ul li a{
    font-size: 18px;
    text-decoration: none;
    
}

